<!--charts not included-->
{% extends "pages/base.html" %}
{% load static %}
{% block content %}
<!--Due Summary for shops content-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Product Report</h2>
        <div class="breadcumb"><span>{{ shop_name }}</span></div>
    </div>
    <div class="col-lg-3 pull-right">
        <a class="btn btn-outline btn-success btn-s" href="/product_reports/?shop={{ shop_name }}">English</a>
        <a class="btn btn-outline btn-warning btn-s" href="/product_reports/?shop={{ shop_name }}&ban=1">বাংলা</a>
        <a class="btn btn-outline btn-danger btn-s" title="print" href="/product_reports_print/?shop={{ shop_name }}" target="_blank"  id="dataTablePrint"><i class="fa fa-print"></i></a>
    </div>
</div>

{% if bangla %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>তারিখ অনুযায়ী মাসিক বিক্রয়</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover" id="date_sell">
                        <thead>
                        <tr>
                            <th>তারিখ</th>
                            <th>পণ্যের নাম</th>
                            <th>পরিমাণ</th>
                            <th>একক</th>
                            <th>গড় মূল্য</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>তারিখ অনুযায়ী মাসিক ক্রয়</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover" id="date_purchase">
                        <thead>
                        <tr>
                            <th>তারিখ</th>
                            <th>পণ্যের নাম</th>
                            <th>পরিমাণ</th>
                            <th>একক</th>
                            <th>গড় মূল্য</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>পণ্য অনুযায়ী মাসিক বিক্রয়</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover" id="product_sell">
                        <thead>
                        <tr>
                            <th>পণ্যের নাম</th>
                            <th>পরিমাণ</th>
                            <th>একক</th>
                            <th>গড় মূল্য</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>পণ্য অনুযায়ী মাসিক ক্রয়</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover" id="product_purchase">
                        <thead>
                        <tr>
                            <th>পণ্যের নাম</th>
                            <th>পরিমাণ</th>
                            <th>একক</th>
                            <th>গড় মূল্য</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>বর্তমান গুদাম </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover uiDataTablesDueReport" >
                        <thead>
                        <tr>
                            <th>পণ্যের নাম</th>
                            <th>অবশিষ্ট পরিমান</th>
                            <th>একক </th>
                            <th>হালনাগাদ এর তারিখ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in  shop_inventory%}
                        <tr class="gradeC">
                            <td>{{product.product.name}}</td>
                            <td>{{product.left}}</td>
                            <td>{{product.unit}}</td>
                            <td>{{product.DateAdded}}</td>
                        </tr>
                        {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="wrapper wrapper-content animated fadeInRight">
    <!--<div role="tabpanel">-->

    <!-- Nav tabs -->


    <!-- Tab panes -->
    <!--<div class="tab-content">-->
    <!--<div role="tabpanel" class="tab-pane active" id="home">-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Monthly sales by date (retail/distributor)</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover" id="date_sell">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Daily Avg. Price</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
    <!--<div role="tabpanel" class="tab-pane" id="profile">-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Monthly Purchase by date (retail/distributor)</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover" id="date_purchase">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Daily Avg. Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Monthly purchase by product (retail/distributor)</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover" id="product_sell">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Avg. Price</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
    <!--<div role="tabpanel" class="tab-pane" id="settings">-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Monthly sale by product (retail/distributor)</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover" id="product_purchase">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Avg. Price</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
    <!--<div role="tabpanel" class="tab-pane" id="settings1">-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Current Inventory</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover uiDataTablesDueReport" >
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Available in</th>
                            <th>Unit</th>
                            <th>Updated On</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in  shop_inventory%}
                        <tr class="gradeC">
                            <td>{{product.product.name}}</td>
                            <td>{{product.left}}</td>
                            <td>{{product.unit}}</td>
                            <td>{{product.DateAdded}}</td>
                        </tr>
                        {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--Table for Monthly purchase by date (retail/distributor)-->

    <!--Table for Monthly sales by date (retail/distributor)-->


    <!--Table for Monthly purchase by product (retail/distributor)-->


    <!--Table for Monthly sales by product (retail/distributor)-->




    <!--Table for Current Inventory-->

</div>
{% endif %}

<script>
    $(document).ready(function() {
        $('#date_sell').dataTable( {
            "bSort": false,
            "bPaginate": false,
            "bInfo": false,
            "bFilter": false,
            "ajax": "/report_product_json/?t=1&shop={{shop_id}}"

        } );
        $('#date_purchase').dataTable( {
            "bSort": false,
            "bPaginate": false,
            "bInfo": false,
            "bFilter": false,
            "ajax": "/report_product_json/?t=2&shop={{shop_id}}"
        } );

        $('#product_sell').dataTable( {
            "ajax": "/report_product_json/?t=3&shop={{shop_id}}"
        } );
        $('#product_purchase').dataTable( {
            "ajax": "/report_product_json/?t=4&shop={{shop_id}}"
        } );
    } );

</script>
{% endblock %}

