{% extends "pages/base.html" %}
{% load static %}
{% block content %}

<!--buttons needed for summary notification-->

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Analytical Reports</h2>
        <div class="breadcumb"><span>{{shop_name}}</span></div>
    </div>
    <div class="col-lg-3 pull-right">
        <a class="btn btn-outline btn-success btn-s" href="#">English</a>
        <a class="btn btn-outline btn-warning btn-s" href="#">বাংলা</a>
        <a class="btn btn-outline btn-danger btn-s" title="print" href="#" id="dataTablePrint"><i class="fa fa-print"></i></a>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <!--buttons should be here-->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Most sold products</h5>
                </div>
                <div calss="row" id="chart_div_product_sell"></div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Qumilative Profit</h5>
                </div>
                <div calss="row" id="chart_div_profit"></div>
            </div>

        </div>
    </div>
</div>

<!--scripts for this page-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      var jsonData = $.ajax({
          url: "/report_analytical_json/?t=1&shop={{shop_id}}",
          dataType:"json",
          async: false
          }).responseText;

      // Create our data table out of JSON data loaded from server.
      var data = new google.visualization.DataTable(jsonData);

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.BarChart(document.getElementById('chart_div_product_sell'));
      chart.draw(data);

        var jsonData_2 = $.ajax({
          url: "/report_analytical_json/?t=2&shop={{shop_id}}",
          dataType:"json",
          async: false
          }).responseText;

      // Create our data table out of JSON data loaded from server.
      var data2 = new google.visualization.DataTable(jsonData_2);

      // Instantiate and draw our chart, passing in some options.
      var chart2 = new google.visualization.BarChart(document.getElementById('chart_div_profit'));
      chart2.draw(data2);
    }

    </script>





<!--scripts for this page-->

{% endblock %}

