{% extends "pages/Distributor/base.html" %}
{% load static %}
{% block content %}
    <!--dash board content starts from here-->
    <div class="wrapper wrapper-content">
        <!--Buttons for Other pages to redirect-->
        <!--bar chart-->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h1>Dashboard</h1>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="row white-bg">
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-file-text-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8">
                            <span>Report</span>
                            <h3 class="font-bold">Monthly</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-tint fa-5x"></i>
                        </div>
                        <div class="col-xs-8">
                            <span>Report</span>
                            <h3 class="font-bold">D&P</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-share-square-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8">
                            <span>Report</span>
                            <h3 class="font-bold">Products</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-pencil-square-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8">
                            <span>Report</span>
                            <h3 class="font-bold">Sales</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-cloud fa-5x"></i>
                        </div>
                        <div class="col-xs-8">
                            <span>Report</span>
                            <h3 class="font-bold">Pre-Order</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
