<!--charts not included-->
{% extends "pages/Distributor/base.html" %}
{% load static %}
{% block content %}
    <!--Monthly/shop-->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Payments and Dues</h2>
        </div>
        <input type="button" onclick="printDiv('printable')" value="Print" />
        <div class="ibox-content">
            <form action="/DIST/duePayments/" method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="shop">Select Sales Rep.</label>
                            <select class="form-control m-b" name="sr">
                                <option value="{{ transcriber_id }}">{{ transcriber_name }}</option>
                                {% for subscriber in subscribers %}
                                    <option value="{{ subscriber.loginUser.id }}">{{ subscriber.loginUser.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-offset-11">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="printable">
        {% if hasReport %}
            <!--Transaction (By Date) Table-->
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Dues</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-striped table-bordered table-hover uiDataTablesDueReport" id="sell_transaction_by_date">
                                    <thead>
                                    <tr>
                                        <th>Shop Name</th>
                                        <th>Total Sell</th>
                                        <th>Total Payment Received</th>
                                        <th>Total Due</th>
                                        <th>Last Paid Amount</th>
                                        <th>Last Payment Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for transaction in allBalance %}
                                        <tr>
                                            <td>{{transaction.buyer.name}}</td>
                                            <td>{{transaction.total_amount_of_transaction}}</td>
                                            <td>{{transaction.total_paid}}</td>
                                            <td>{{transaction.total_due}}</td>
                                            <td>{{transaction.last_paid_amount}}</td>
                                            <td>{{transaction.last_date_of_payment.date}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Transactions</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-striped table-bordered table-hover uiDataTablesDueReport" id="purchase_transaction_by_date">
                                    <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>With</th>
                                        <th>Total</th>
                                        <th>Paid</th>
                                        <th>Due</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for sell in sell_transaction %}
                                        <tr>
                                            <td>{{ sell.id }}</td>
                                            <td>{{ sell.buyer.name }}</td>
                                            <td>{{ sell.total_amount }}</td>
                                            <td>{{ sell.total_paid }}</td>
                                            <td>{{ sell.total_due }}</td>
                                            <td>{{ sell.DateAdded.date }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Due Received</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-striped table-bordered table-hover uiDataTablesDueReport" id="summary_by_person">
                                    <thead>
                                    <tr>
                                        <th>With</th>
                                        <th>Phone No.</th>
                                        <th>Total Paid Amount</th>
                                        <th>Date of Payment</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for person in dueTransactions%}
                                        <tr>
                                            <td>{{ person.buyer.name }}</td>
                                            <td>{{ person.buyer.phone }}</td>
                                            <td>{{ person.total_paid }}</td>
                                            <td>{{ person.DateAdded }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock %}

