<!--charts not included-->
{% extends "pages/base.html" %}
{% load static %}
{% block content %}
<!--Due Summary for shops content-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Sales Analysis Report</h2>
        <div class="breadcumb"><span>{{shop_name}}</span></div>
    </div>
    <div class="col-lg-3 pull-right">
        <a class="btn btn-outline btn-success btn-s" href="/sales_analysis_report/?shop={{shop_name}}">English</a>
        <a class="btn btn-outline btn-warning btn-s" href="/sales_analysis_report/?shop={{shop_name}}&ban=1">বাংলা</a>
        <a class="btn btn-outline btn-danger btn-s" title="print" href="/sales_analysis_report_print/?shop={{shop_name}}" target="_blank"  id="dataTablePrint"><i class="fa fa-print"></i></a>
    </div>
</div>
{% if bangla %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>সর্বাধিক বিক্রিত পণ্য</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>

                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover" id="date_sell">
                        <thead>
                        <tr>
                            <th>ক্রমিক </th>
                            <th>পণ্যের নাম </th>
                            <th>বিক্রয়ের পরিমান </th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>পণ্যের মূল্য পরিবর্তন</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover" id="date_purchase">
                        <thead>
                        <tr>
                            <th>ক্রমিক</th>
                            <th>পণ্যের নাম </th>
                            <th>লেনদেন এর সংখ্যা </th>
                            <th>প্রতি লেনদেন এ গড় মূল্য পরিবর্তন</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>তারিখ অনুযায়ী পণ্য বিক্রয় </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover" id="product_sell">
                        <thead>
                        <tr>
                            <th>তারিখ </th>
                            <th>ক্রমিক </th>
                            <th>পণ্যের নাম </th>
                            <th>পরিমাণ </th>
                            <th>গড় বিক্রয় মূল্য </th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>বার অনুযায়ী পণ্য বিক্রয় </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover" id="product_sell1">
                        <thead>
                        <tr>
                            <th>বার </th>
                            <th>ক্রমিক </th>
                            <th>পণ্যের নাম </th>
                            <th>পরিমাণ </th>
                            <th>গড় বিক্রয় মূল্য </th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Most Sold Products</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>

                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover" id="date_sell">
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Product Name</th>
                            <th>Sold Quantity</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Changes of Product Price</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover" id="date_purchase">
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Product Name</th>
                            <th>Number Of Sale Transaction</th>
                            <th>Average Price Change per transaction</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Day wise Product Sale</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover" id="product_sell">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Rank</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Average Price</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Day wise Product Sale Week Days</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover" id="product_sell1">
                        <thead>
                        <tr>
                            <th>WeekdayDate</th>
                            <th>Rank</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Average Price</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script>
    $(document).ready(function() {
        $('#date_sell').dataTable( {
            "bPaginate": false,
            "bInfo": false,
            "bFilter": false,
            "aaSorting": [[1, "desc"]],
            "ajax": "/report_sales_analysis_json/?t=1&shop={{shop_id}}"

        } );
        $('#date_purchase').dataTable( {
            "bPaginate": false,
            "bInfo": false,
            "bFilter": false,
            "aaSorting": [[2, "desc"]],
            "ajax": "/report_sales_analysis_json/?t=2&shop={{shop_id}}"
        } );
        $('#product_sell').dataTable( {
            "bSort": false,
            "bPaginate": false,
            "bInfo": false,
            "bFilter": false,
            "ajax": "/report_sales_analysis_json/?t=3&shop={{shop_id}}"
        } );$('#product_sell1').dataTable( {
            "bSort": false,
            "bPaginate": false,
            "bInfo": false,
            "bFilter": false,
            "ajax": "/report_sales_analysis_json/?t=4&shop={{shop_id}}"
        } );
    } );

</script>

{% endblock %}

